.button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: inline-block;
  padding: 16px 24px;
  transition: 300ms;
  text-decoration: none;
  color: #fff;
  border: 1px solid #c1f4ea;
  outline: none;
  background-color: #5bbfac;
  -webkit-appearance: none;
}

.disabled,
form:invalid .button {
  filter: grayscale(0.9);
}

@media (hover: hover) {
  .button:hover:not(.disabled):not(form:invalid .button) {
    background-color: #c1f4ea;
  }
}
