.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  margin-top: 48px;
}

.header h1 {
  margin: 0;
  white-space: nowrap;
}

.homeLink {
  text-decoration: none;
}

.badge {
  font-size: 0.6em;
  font-weight: lighter;
  top: -0.8em;
  display: inline-block;
  margin-left: 4px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav button {
  cursor: pointer;
  text-decoration: underline;
  color: inherit;
  border: none;
  background: none;
}
