.grid {
  display: grid;
  align-items: center;
  margin: 48px 0;
  text-align: center;
  grid-template-columns: 2fr 1fr repeat(3, 1fr) 1fr;
}

.header {
  display: contents;
}

.header > * {
  align-self: end;
  padding: 8px 0;
}

.header > *:not(.tophat) {
  margin-bottom: 8px;
  border-bottom: 1px solid #888;
}

.row {
  display: contents;
  cursor: pointer;
}

.row > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 80px;
  background-color: #262626;
}

.oddRow > div {
  background-color: #3b3b3b;
}

.action {
  font-size: 1.2em;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  background: none;
}
