.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #555;
}

.plainButton {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
  border: none;
  outline: none;
  background: none;
}
