@import "./third_party/normalize.css";

:root {
  font-family: "Bitter", serif;
  color: #fff;
  background-color: #000;
}

h1 {
  font-family: "Righteous", sans-serif;
}

a {
  color: inherit;
}

p {
  font-family: "Bitter", serif;
}

.lr-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 24px;
}

.muted {
  font-size: 0.9em;
  opacity: 0.6;
}
